* {
	padding: 0;
	margin: 0;
}

body {
	background: #1D202B;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.contenedor__t {

	max-width: 1200px;
	margin: auto;
	padding: 40px 0;

	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 20px;

	
}

.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.contenedor__torneos {
	display: grid;
	grid-template-columns: repeat(2fr 2fr);
	gap: 25px;
	
}

.torneo {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;

	
}

.torneo .textos {
	height: 100%;
	
	
}

.banner__torneos {
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;


}

.banner__torneos ul {
	list-style: none;
}

.banner__torneos ul li {
	margin: 15px;
	font-weight: bold;
}

.banner__torneos .boton {
	background: #FFD600;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*Pie de Pagina*/


.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}


a{
	text-decoration: none;
}
ul{
	list-style: none;
}

.cabecera-nav{
	background-color: #0a1a2a;
	position: sticky;
	top: 0;
	
}

.nav-list{
	height: 6vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.nav-list .nav-item a{
	text-decoration: none;
	color: #fff;
	font-size: 1.2rem;
}

.nav-list li{
	list-style: none;
	display: inline-block;
	margin: 0% 20px;
	position: relative;
}

.nav-list li::before{
	content: "";
	height: 3px;
	width: 0%;
	background-color: #056863;
	position: absolute;
	left: 0;
	bottom: -12px;
	transition: 0.4s ease-out;
}

.nav-list li:hover::before{
	width: 100%;
}

.contenedor-inicio{
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
}

.contenedor-inicio div,
.contenedor-inicio .contenido-inicio,
.contenedor-inicio .sidebar-inicio,
.contenedor-inicio .eventos-inicio {
	background-color: #056863;
	padding: 20px;
	border: 4px;
}

.contenedor-inicio .contenido-inicio{
	background-color: #0a1a2a;
	color: #fff;
	grid-column: span 2;
}

.contenedor-inicio .sidebar-inicio{
	grid-column: 3 / 4;
	background: coral;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor-inicio .widget-1,
.contenedor-inicio .widget-2
.contenedor-inicio .widget-3{
	background: #056863;
	height: 100px;
	text-align: center;
	display: flex;
}

.img-navbar {
	height: 30vh;
}

.img-navbar img {
	width: 100%;
	height: 100%;
	justify-content: center;
	vertical-align: top;
	object-fit: fill;
}